html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

hr{
	width: 30px;
	height: 3px;
	background: #A3A0F2;
	border: 0;
	margin: 0 auto 40px auto;
}

section{height: 100vh;}

a{color: #CFCEF2;}

header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

footer{
  font-size: 15px;
	width: 100%;
	height: 50px;
  padding-top: 10px;
  text-align: center;
  color: #222059;
	background-color: white;
}

#anchor{
  margin-top: -8%;
  margin-bottom: 4%;
}

#logo-header{
  height:50px;
}

#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:150px;
  margin-top: -20px;
  margin-bottom: 20%;
}

#pfeil:hover{
  opacity: 0.8;
}

#home{
  text-align: center;
  padding-top: 8%;
  background-image: url("../img/homepage.webp");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#home #logo:hover{
  transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
}

#home h1{
  font-weight: 600;
  color:#33384D;
  font-size: 100px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

#allgemein{
  background-image:linear-gradient( #222059 53%, #35328C 96%);
  padding-top: 5%;
}

#allgemein h3{
  text-align:center;
  font-size: 50px;
  color:#CFCEF2;
  font-family: "Roboto", sans-serif;
}

#allgemein h4{
  text-align: center;
  margin:auto;
  font-size: 30px;
  padding-top: 2%;
	font-family: "Roboto Slab", sans-serif;
	color:#CFCEF2;
}

#allgemein-text{
  text-align: justify;
  margin: auto;
  min-width: 25%;
  max-width: 50%;
}

#allgemein p{
  font-size: 20px;
  padding-top: 2%;
	font-family: "Roboto Slab", serif;
	color:#CFCEF2;
}

#allgemein img:hover{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
}

#allgemein img{
  display: block;
  margin:auto;
  max-height: 35%;
  border-radius: 50%;
}

footer img:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}

footer img{
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
